@import "../../assets/scss/constants-mixins";

:root {
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    margin: 0 auto;
    max-width: 1280px;
    justify-content: space-between;
}

.button {
    padding: 1.4rem 4.4rem;
    border-radius: 100px;
    border: none;
    font-family: Georgia;
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 130%;
    letter-spacing: 0.11rem;
    cursor: pointer;
    outline: none;
}

.header {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 50;
    background-color: $color-light-xl;
    &__wrapper {
        max-width: 1200px;
        justify-content: space-between;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}

.logo {
    display: flex;
    flex-direction: column;
    z-index: 4;
    &__link {
        text-decoration: none;
        color: $color-dark-l;
        cursor: pointer;
    }
    &__title {
        color: $color-dark-l;
        @include logo_title;
        margin-bottom: 1rem;
    }
    &__subtitle {
        text-align: center;
        @include logo_subtitle;
        color: $color-dark-3xl;
    }
}

.menu {
    display: flex;
}

.burger-menu {
    display: none;
    overflow: hidden;
}

.burger-menu_overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
}

.mobile-menu {
    right: -100%;
    z-index: 3;
    .list {
        padding-top: 248px;
        flex-direction: column;
        align-items: center;
    }
    .list__item {
        margin: 0;
        margin-bottom: 43px;
    }
    .list__link {
        @include paragraph-mobile-menu;
        &_disabled {
            @include paragraph-mobile-menu;
        }
    }
}

.list {
    display: flex;
    &__item {
        display: flex;
        align-items: center;
        margin-right: 3.6rem;
    &:last-child { 
        margin-right: 0px;
    }
    }
        &__link {
            color: $color-dark-3xl;
            @include paragraph-l;
            text-decoration: none; 
            &_active {
            color: $color-dark-l;
            border-bottom: 3px solid $color-primary-color;
            cursor: default;
            }
        &_disabled {
            color: $color-dark-3xl;
            @include paragraph-l;
            text-decoration: none;
            cursor: default;
        }
        &:hover {
            color: $color-dark-l;
        }
    }
}

.friends {
    background: $color-light-l;
    &__wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 8.1rem;
        padding-bottom: 10rem;
    }
    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include h3;
        color: $color-dark-l;
        margin-bottom: 5.9rem;
    }
}

.slider {
    display: flex;
    align-items: center;
    flex-direction: column;
    &__cards {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 4rem;
        row-gap: 3rem;
        margin-bottom: 5.6rem;
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: $color-light-s;
        border-radius: 9px;
        cursor: pointer;
        &:hover {
            background: $color-light-xl;
            box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
        }
    }
    &__photo {
        background: none;
        margin-bottom: 3rem;
    }
    &__name {
        @include h4;
        letter-spacing: 0.1rem;
        color: $color-dark-l;
        margin-bottom: 2.9rem;
    }
    &__item-button {
        background: none;
        border: 2px solid $color-primary-color;
        color: $color-dark-xl;
        margin-bottom: 3.1rem;
        &:hover {
            background-color: $color-primary-light;
            border: 2px solid $color-primary-light;
        }
    }
    &__button {
        @include round-btn;
        &:hover {
            background-color: $color-primary-light;
            border: none;
        }
    }
}

.pagination {
    display: flex;
    &__button {
        @include round-btn;
        @include h4;
        margin: 0 1rem;
        &_disabled {
            border: 2px solid $color-dark-s;
            color: $color-dark-s;
            cursor: default;
        }
        &_active {
            background-color: $color-primary-light;
            border: none;
            cursor: default;
        }
        &_focus:hover {
            background-color: $color-primary-light;
            border: 2px solid $color-primary-light;
        }
    }
}

.footer {
    background: url(../../assets/images/noise_transparent.png), 
    radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
    display: flex;
    &__wrapper {
        display: flex;
        padding: 3.6rem 4rem 0 4rem;
        width: 100%;
        justify-content: space-between;
    }
    &__contacts, &__location {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 2.2rem;
        margin-bottom: 6rem;
        &-title {
            color: $color-light-xl;
            @include h3;
            display: flex;
            flex-direction: column;
        }
        &-mail, &-phone, &-place {
            display: flex;
            align-items: center;
            text-decoration: none;
            &-icon, &-marker {
                margin-right: 2.1rem;
            }
        }
        &-mail-text, &-phone-text, &-address {
            color: $color-primary-color;
            @include h4;
            & span {
                display: block;
            }
        }
    }
    &__image {
        img {
            display: block;
            width: 100%;
            height: auto;
        }
    }
}

@media screen and (max-width: 1279px) {
.wrapper {
    max-width: 768px;
}

.header {
    padding: 0 3rem;
}

.friends {
    &__wrapper {
        padding-bottom: 8rem;
    }
    &__title {
        margin-bottom: 30px;
    }
}

.slider {
    &__item:nth-child(7) {
        display: none;
    }
    &__item:nth-child(8) {
        display: none;
    }
    &__item-buttons {
        margin-top: 1px;
    }
    &__cards {
        margin-bottom: 30px;
    }
}



.footer {
    &__wrapper {
        flex-wrap: wrap;
        padding: 1rem 7rem 0 6.3rem;
    }
    &__contacts-title {
    margin-bottom: 4rem;
    }
    &__contacts-mail {
    margin-bottom: 4rem;
    }
    &__image {
    margin: 0 auto;
    }
}

}

@media screen and (max-width: 767px) {
.wrapper {
    max-width: 320px;
}

.header {
    padding: 0 1rem;
}

.menu {
    display: none;
}

.burger-menu{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    &__button {
    width: 30px;
    height: auto;
    position: absolute;
    cursor: pointer;
    left: 237px;
    top: 50px;
    z-index: 5;
    transition: 0.5s;
    &_active {
        transform: rotate(90deg);
        cursor: pointer;
        }
    }
}

.burger-menu_overlay-active {
    display: block;
    background-color: rgba(41, 41, 41, 0.6);
}

.overflow-hidden {
    overflow: hidden;
}

.mobile-menu {
    position: relative;
    width: 320px;
    height: 823px;
    background: $color-light-xl;
    transition: 0.5s;
    &_active {
    right: 0;
    }
}

.friends {
    &__wrapper {
        padding-top: 42px;
        padding-bottom: 42px;
    }
    &__title {
        @include h3-mobile;
        margin-bottom: 42px;
    }
}

.slider {
    &__cards {
        margin-bottom: 3.6rem;
    }
    &__item:nth-child(4) {
        display: none;
    }
    &__item:nth-child(5) {
        display: none;
    }
    &__item:nth-child(6) {
        display: none;
    }
}

.pagination {
    &__button {
        margin:0 0.5rem;
    }
}

.footer {
    &__wrapper {
        display: flex;
        justify-content: center;
        padding: 0;
    }
    &__contacts {
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 18px;
    }
    &__contacts-title, &__location-title {
        @include h3-mobile;
        display: block;
        text-align: center;
        padding: 0px 15px 0 15px;
    }
    &__location {
    margin-bottom: 0rem;
    }
    &__location-title {
    margin-bottom: 4rem;
    }
    &__location-place {
    margin-bottom: 4rem;
    padding-left: 10px;
    }
    &__image {
        width: 260px;
    }
}
}