$color-primary-color: #F1CDB3;
$color-primary-light: #FDDCC4;

$color-light-s: #FAFAFA;
$color-light-l: #F6F6F6;
$color-light-xl: #FFFFFF;

$color-dark-s: #CDCDCD;
$color-dark-m: #B2B2B2;
$color-dark-l: #545454;
$color-dark-xl: #4C4C4C;
$color-dark-2xl: #444444;
$color-dark-3xl: #292929;

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

h1 {
    font-family: Georgia;
    font-size: 32px;
    letter-spacing: 0.06em;
    line-height: 110%;
    font-weight: 400;
}

h2 {
    font-size: 44px;
    line-height: 130%;
    font-family: Georgia;
    max-width: 310px;
    font-weight: 400;
}

h3 {
    font-family: Georgia;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
}

h4 {
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
}

p {
    font-family: Arial;
    font-size: 15px;
    line-height: 160%;
    font-weight: 400;
}


.wrapper {
    display: flex;
    margin: 0 auto;
    max-width: 1280px;
    justify-content: space-between;
}

.button {
    border-radius: 100px;
    border: none;
    font-family: Georgia;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    cursor: pointer;
    outline: none;
}

.header {
    width: 100%;
    height: 120px;
    position: sticky;
    top: 0;
    z-index: 50;
    background-color: $color-light-xl;
}

.header__wrapper {
    max-width: 1200px;
    padding-top: 30px;
}

.logo {
    display: flex;
    flex-direction: column;
}

.logo__title {
    color: $color-dark-l;
}

.logo__subtitle {
    margin-top: 10px;
    color: $color-dark-3xl;
    font-size: 13px;
    letter-spacing: 0.1em;
    line-height: 110%;
    text-align: center;
    font-weight: 400;
}

.menu {
    display: flex;
    width: 443px;
}

.list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    list-style-type: none;
}

.list__item {
    display: flex;
    align-items: center;

}

.list__link {
    color: $color-dark-3xl;
    font-family: Arial;
    font-size: 15px;
    line-height: 160%;
    font-weight: 400;
    text-decoration: none;
}

.list__link_active {
    border-bottom: 3px solid $color-primary-color;
}

.list__link_disabled {
    color: $color-dark-l;
}

.list__link:hover {
    color: $color-dark-3xl;
    border: 0;
}

.friends {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1342px;
    background: $color-light-l;
}

.slider {
    margin: 0 40px;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.slider__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
} 

.title {
    color: $color-dark-l;
}

.friends__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 81px;
}

.friends__title {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    text-align: center;
}

.slider__photo {
    background: none;
}

.slider__item {
    width: 270px;
    height: 435px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $color-light-s;
    margin-bottom: 29px;
    border-radius: 9px;
    cursor: pointer;
}

.slider__item:hover {
    background: $color-light-xl;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.slider__name {
    font-family: Georgia;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: $color-dark-l;
    margin-top: 30px;
}

.slider__button {
    width: 187px;
    height: 52px;
    background: none;
    border: 2px solid $color-primary-color;
    color: $color-dark-xl;
    margin-top: 29px;
}

.slider__button:hover {
    background-color: $color-primary-light;
    border: 2px solid $color-primary-light;
}

.slider__buttons {
    display: flex;
    margin-top: 20px;
}

.arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    width: 52px;
    height: 52px;
    border-radius: 100px;
    font-family: Georgia;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: $color-dark-3xl;
    cursor: pointer;
    outline: none;
}

.btn_number {
    background-color: $color-primary-light;
    border: none;
    cursor: default;
}

.btn_left {
    border: 2px solid $color-dark-s;
    color: $color-dark-s;
    cursor: default;
}

.btn_right {
    background-color: $color-light-l;
    border: 2px solid $color-primary-color;
}

.btn_right:hover {
    background-color: $color-primary-light;
    border: 2px solid $color-primary-light;
}

.footer {
    background: url(../../assets/images/noise_transparent.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
    height: 350px;
    display: flex;
}

.footer__content {
    display: flex;
    margin: 39px 40px 40px 40px;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 140px;
}

.footer__location {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 118px;
}

.footer__title {
    color: $color-light-xl;
}

.footer__contact {
    display: flex;
    text-decoration: none;
    align-items: center;
}

.footer__info {
    font-family: Georgia;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: $color-primary-color;
}

.footer__icon {
    margin-right: 20px;
}

.footer__image {
    display: flex;
    align-items: flex-end;
    margin-right: 40px;
}

@media screen and (max-width: 1279px) {
    .wrapper {
        max-width: 768px;
    }

    .logo {
        margin-left: 30px;
    }

    .menu {
        margin-right: 30px;
    }

    .friends {
        height: 100%;
    }

    .friends__content {
        padding-bottom: 68px;
    }


    .slider {
        margin: 0 93px;
        margin-top: 30px;
    }

    .slider__item:nth-child(7) {
        display: none;
    }

    .slider__item:nth-child(8) {
        display: none;
    }

    .slider__buttons {
        margin-top: 1px;
    }

    .footer {
        height: 100%;
    }

    .footer__wrapper {
        flex-direction: column;
        padding-top: 12px;
    }

    .footer__content {
        flex-direction: row;
        padding: 15px 64px 60px;
        margin: 0;
    }

    .footer__contacts {
        margin: 0;
        margin-right: 45px;
    }

    .footer__location {
        margin: 0;
        
    }

    .footer__contact {
        margin-top: 35px;
    }

    .footer__image {
        margin: 0 auto;
    }

}