$color-primary-color: #F1CDB3;
$color-primary-light: #FDDCC4;

$color-light-s: #FAFAFA;
$color-light-l: #F6F6F6;
$color-light-xl: #FFFFFF;

$color-dark-s: #CDCDCD;
$color-dark-m: #B2B2B2;
$color-dark-l: #545454;
$color-dark-xl: #4C4C4C;
$color-dark-2xl: #444444;
$color-dark-3xl: #292929;

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    justify-content: space-between;
}

.button {
    border-radius: 100px;
    border: none;
    font-family: Georgia;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    cursor: pointer;
    outline: none;
}

.header {
    width: 100%;
    position: absolute;
    top: 60px;
}

.logo {
    display: flex;
    flex-direction: column;
}

.logo__title {
    color: $color-primary-color;
    font-family: Georgia;
    font-size: 32px;
    letter-spacing: 0.06em;
    line-height: 110%;
    font-weight: 400;
}

.logo__subtitle {
    margin-top: 10px;
    color: $color-light-xl;
    font-size: 13px;
    letter-spacing: 0.1em;
    line-height: 110%;
    text-align: center;
    font-weight: 400;
}

.menu {
    display: flex;
    width: 443px;
}

.list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    list-style-type: none;
}

.list__item {
    display: flex;
    align-items: center;

}

.list__link {
    color: $color-light-xl;
    font-family: Arial;
    font-size: 15px;
    line-height: 160%;
    font-weight: 400;
    text-decoration: none;
}

.list__link_active {
    border-bottom: 3px solid $color-primary-color;
}

.list__link_disabled {
    color: $color-dark-s;
}

.list__link:hover {
    color: $color-light-s;
    border: 0;
}

.main {
    display: flex;
    flex-direction: column;
}

.hero {
    display: flex;
    padding-top: 180px;
    background: url(../../assets/images/noise_transparent.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.hero__content {
    display: flex;
}

.hero__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 84px;
}

.hero__title {
    color: $color-light-xl;
    font-size: 44px;
    line-height: 130%;
    font-family: Georgia;
    max-width: 310px;
    font-weight: 400;
    margin-bottom: 31px;
}

.hero__subtitle {
    margin-top: 14px;
    margin-bottom: 10px;
    margin-right: 40px;
    font-family: Arial;
    color: $color-dark-s;
    font-size: 15px;
    line-height: 160%;
    font-weight: 400;
}

.hero__button {
    margin-top: 28px;
    width: 207px;
    height: 52px;
    background-color: $color-primary-color;
}

.hero__button:hover {
    background-color: $color-primary-light;
}

.about {
    display: flex;
}

.about__content {
    height: 588px;
    display: flex;
    padding: 0 174px;
}

.about__image {
    margin-top: 81px;
}

.about__text {
    display: flex;
    flex-direction: column;
    padding-left: 121px;
    margin-top: 68px;
}

.about__title {
    max-width: 370px;
    margin-top: 26px;
}

.title {
    font-family: Georgia;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: $color-dark-l;
}

.about__subtitle {
    font-family: Arial;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: $color-dark-xl;
    margin-top: 25px;
}

.friends {
    display: flex;;
    background: $color-light-l;
    text-align: center;
    height: 877px;
}

.friends__title {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.friends__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 81px;
}

.slider {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 59px;
}

.slider__photo {
    background: none;
}

.slider__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.slider__item {
    width: 270px;
    height: 435px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $color-light-s;
    margin: 0 45px;
    border-radius: 9px;
    cursor: pointer;
}

.slider__item:hover {
    background: $color-light-xl;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.slider__name {
    font-family: Georgia;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: $color-dark-l;
    margin-top: 26px;
}

.slider__button {
    width: 187px;
    height: 52px;
    background: none;
    border: 2px solid $color-primary-color;
    color: $color-dark-xl;
    margin-top: 29px;
}

.slider__button:hover {
    background-color: $color-primary-light;
    border: 2px solid $color-primary-light;
}

.slider__arrow-left {
    margin-right: 8px;
}

.slider__arrow-right {
    margin-left: 8px;
}

.arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    background-color: $color-light-l;
    border: 2px solid $color-primary-color;
    border-radius: 100px;
    color: $color-dark-3xl;
    cursor: pointer;
    outline: none;
}

.arrow:hover {
    background-color: $color-primary-light;
    border: none;
}

.friends__button {
    width: 261px;
    height: 52px;
    background-color: $color-primary-color;
    margin-top: 60px;
}

.friends__button:hover {
    background-color: $color-primary-light;
}

.help {
    display: flex;
    text-align: center;
}
.help__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 611px;
}

.help__title {
    margin-top: 81px;
    max-width: 312px;
}

.help__items {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.help__inner {
    margin: 0 60px;
    text-align: center;
    margin-bottom: 50px;
}

.help__text {
    font-family: Georgia;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: $color-dark-l;
    margin-top: 27px;
}

.addition {
    background: $color-light-l;
    height: 464px;
}

.addition__content {
    margin-top: 81px;
    padding: 0 143px;
    display: flex;
}

.addition__image {
    margin-top: 10px;
}

.addition__text {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    max-width: 390px;
}

.addition__title {
    max-width: 300px;
}

.addition__subtitle {
    margin-top: 21px;
    font-family: Georgia;
    font-weight: normal;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: $color-dark-l;
}

.addition__card {
    margin-top: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    width: 349px;
    height: 43px;
    border-radius: 9px;
    background-color: $color-primary-color;
    text-decoration: none;
    padding: 0px 14px;
}

.addition__card:hover {
    background-color: $color-primary-light;
}

.addition__card-icon {
    vertical-align: baseline;
}

.additional__card-number {
    font-family: Georgia;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: $color-dark-l;
    text-decoration: none;
    margin-left: 16px;
}

.additional__card-number:hover {
    color: $color-dark-3xl;
}

.addition__description {
    margin-top: 20px;
    font-family: Arial;
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: $color-dark-m;
}

.footer {
    background: url(../../assets/images/noise_transparent.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
    height: 350px;
    display: flex;
}

.footer__content {
    display: flex;
    margin-top: 39px;
    margin-bottom: 40px;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 140px;
}

.footer__location {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 155px;
}

.footer__title {
    color: $color-light-xl;
}

.footer__contact {
    display: flex;
    text-decoration: none;
    align-items: center;
}

.footer__info {
    font-family: Georgia;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: $color-primary-color;
}

.footer__icon {
    margin-right: 20px;
}

.footer__image {
    display: flex;
    align-items: flex-end;
}