* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

.wrapper {
  margin: 0 auto;
  max-width: 1200px; }

h1 {
  font-family: Georgia;
  font-size: 32px;
  letter-spacing: 0.06em;
  line-height: 110%;
  font-weight: 400; }

h2 {
  font-size: 44px;
  line-height: 130%;
  font-family: Georgia;
  max-width: 310px;
  font-weight: 400; }

h3 {
  font-family: Georgia;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em; }

h4 {
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em; }

p {
  font-family: Arial;
  font-size: 15px;
  line-height: 160%;
  font-weight: 400; }

.button {
  width: 207px;
  height: 52px;
  border-radius: 100px;
  border: none;
  font-family: Georgia;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  cursor: pointer;
  outline: none; }

.button_large {
  width: 261px;
  height: 52px;
  background-color: #F1CDB3;
  margin-top: 60px; }

.button_large:hover {
  background-color: #FDDCC4; }

.cover-container {
  background: url(../../assets/images/noise_transparent.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20; }

.header {
  padding-top: 60px; }

.header__wrapper {
  display: flex;
  justify-content: space-between; }

.logo {
  display: flex;
  flex-direction: column; }

.logo__title {
  color: #F1CDB3; }

.logo__subtitle {
  margin-top: 10px;
  color: #FFFFFF;
  font-size: 13px;
  letter-spacing: 0.1em;
  line-height: 110%;
  text-align: center;
  font-weight: 400; }

.menu {
  display: flex; }

.list {
  display: flex; }

.list__item {
  display: flex;
  align-items: center;
  margin-right: 36px; }

.list :last-child {
  margin-right: 0px; }

.list__link {
  color: #FFFFFF;
  font-family: Arial;
  font-size: 15px;
  line-height: 160%;
  font-weight: 400;
  text-decoration: none; }

.list__link_active {
  border-bottom: 3px solid #F1CDB3; }

.list__link_disabled {
  color: #CDCDCD; }

.list__link:hover {
  color: #FAFAFA;
  border: 0; }

.main {
  display: flex;
  flex-direction: column; }

.not-only__wrapper {
  display: flex;
  padding-top: 61px; }

.not-only__content {
  padding-top: 163px; }

.not-only__title {
  color: #FFFFFF; }

.not-only__subtitle {
  margin-top: 42px;
  margin-right: 40px;
  color: #CDCDCD; }

.not-only__button {
  margin-top: 42px;
  background-color: #F1CDB3; }

.not-only__button:hover {
  background-color: #FDDCC4; }

.not-only__image {
  height: auto; }

.about__wrapper {
  display: flex;
  flex-direction: row;
  padding: 80px 175px 100px 175px; }

.about__text {
  display: flex;
  flex-direction: column;
  padding-top: 14px;
  padding-left: 120px; }

.about__title {
  color: #545454;
  margin-right: 60px; }

.about__subtitle {
  margin-top: 25px;
  color: #545454; }

.about__image {
  height: auto; }

.friends {
  display: flex;
  background: #F6F6F6;
  text-align: center; }

.friends__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 81px;
  padding-bottom: 100px; }

.friends__title {
  display: flex;
  flex-direction: column;
  color: #545454; }

.slider {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 59px; }

.slider__photo {
  background: none; }

.slider__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FAFAFA;
  margin: 0 45px;
  border-radius: 9px;
  cursor: pointer; }

.slider__item:hover {
  background: #FFFFFF;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04); }

.slider__name {
  font-family: Georgia;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
  margin-top: 30px; }

.slider__button {
  width: 187px;
  height: 52px;
  background: none;
  border: 2px solid #F1CDB3;
  color: #4C4C4C;
  margin-top: 29px;
  margin-bottom: 31px; }

.slider__button:hover {
  background-color: #FDDCC4;
  border: 2px solid #FDDCC4; }

.slider__arrow-left {
  margin-right: 8px; }

.slider__arrow-right {
  margin-left: 8px; }

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  background: none;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  color: #292929;
  cursor: pointer;
  outline: none; }

.arrow:hover {
  background-color: #FDDCC4;
  border: none; }

.help {
  display: flex;
  text-align: center; }

.help__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px; }

.help__title {
  text-align: center;
  margin: 0 410px; }

.help__items {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.help__element {
  margin: 0 60px;
  text-align: center;
  margin-bottom: 50px; }

.help__text {
  font-family: Georgia;
  color: #545454;
  margin-top: 27px; }

.addition {
  background: #F6F6F6; }

.addition__wrapper {
  display: flex;
  padding: 135px 120px 100px 142px; }

.addition__image {
  margin-top: 9px;
  margin-bottom: 10px;
  width: 100%;
  height: 100%;
  object-fit: none; }

.addition__text {
  display: flex;
  flex-direction: column;
  padding-left: 30px; }

.addition__title {
  color: #545454;
  margin-right: 82px; }

.addition__subtitle {
  margin-top: 21px;
  font-family: Georgia;
  font-weight: normal;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454; }

.addition__card {
  margin-top: 20px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  width: 349px;
  height: 43px;
  border-radius: 9px;
  background-color: #F1CDB3;
  text-decoration: none;
  padding: 0px 14px; }

.addition__card:hover {
  background-color: #FDDCC4; }

.addition__card-icon {
  vertical-align: baseline; }

.additional__card-number {
  font-family: Georgia;
  font-weight: normal;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
  text-decoration: none;
  margin-left: 16px; }

.additional__card-number:hover {
  color: #292929; }

.addition__description {
  margin-right: 20px;
  margin-top: 20px;
  font-family: Arial;
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #B2B2B2; }

.footer {
  background: url(../../assets/images/noise_transparent.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
  display: flex; }

.footer__wrapper {
  display: flex;
  padding-top: 36px; }

.contacts-wrapper {
  display: flex; }

.footer__contacts {
  display: flex;
  flex-direction: column;
  margin-right: 140px; }

.footer__location {
  display: flex;
  flex-direction: column;
  margin-right: 155px; }

.footer__title {
  color: #FFFFFF;
  padding-top: 20px; }

.footer__contact {
  display: flex;
  text-decoration: none;
  align-items: center;
  padding-top: 40px; }

.footer__address {
  display: flex;
  text-decoration: none;
  align-items: center;
  padding-top: 33px; }

.footer__info {
  font-family: Georgia;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3; }

.footer__icon {
  margin-right: 20px; }

.menu-burger span, .menu-burger:after, .menu-burger:before {
  height: 2px;
  width: 100%;
  position: absolute;
  background: #F1CDB3;
  margin: 0 auto; }

.menu-burger span {
  top: 21px; }

.menu-burger:after, .menu-burger:before {
  content: ''; }

.menu-burger:after {
  bottom: 5px; }

.menu-burger:before {
  top: 5px; }

@media screen and (max-width: 1279px) {
  .wrapper {
    max-width: 708px; }

  .about__wrapper {
    padding: 0px; }

  .header {
    padding-top: 31px; }

  .not-only__wrapper {
    flex-direction: column;
    padding-top: 0px; }

  .not-only__content {
    padding: 60px 124px;
    display: flex;
    flex-direction: column; }

  .not-only__subtitle {
    margin-right: 0px; }

  .not-only__button {
    margin-top: 40px;
    margin-left: 127px; }

  .not-only__image {
    width: 573px;
    margin-top: 35px;
    margin-left: 137px; }

  .about__wrapper {
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px; }

  .about__text {
    display: flex;
    flex-direction: column;
    padding-top: 83px;
    padding-left: 136px;
    padding-right: 132px; }

  .about__title {
    margin-right: 138px; }

  .about__image {
    order: 2;
    margin-top: 78px; }

  .slider__item:nth-child(4) {
    display: none; }

  .slider__item {
    padding: 0 17px;
    margin: 0px 0px; }

  .help__title {
    margin: 0 164px; }

  .help__element {
    width: 170px;
    height: 113px;
    margin: 0px 33px;
    margin-bottom: 56px; }

  .help__items {
    padding-bottom: 43px; }

  .addition__wrapper {
    padding: 0px;
    flex-direction: column;
    align-items: center; }

  .addition__image {
    margin-top: 8px;
    order: 2;
    margin-bottom: 46px; }

  .addition__text {
    margin: 0px 141px;
    margin-top: 81px;
    padding-left: 24px; }

  .footer__image {
    margin-top: 63px;
    object-fit: none; }

  .footer__wrapper {
    flex-direction: column;
    padding-top: 12px; }

  .contacts-wrapper {
    padding: 0 34px; }

  .footer__contacts {
    margin-right: 45px; }

  .footer__location {
    margin-right: 0px; } }
@media screen and (max-width: 767px) {
  h2, h3 {
    font-size: 25px; }

  .wrapper {
    max-width: 300px; }

  .menu {
    display: none; }

  .not-only__content {
    padding: 0px;
    padding-top: 60px; }

  .not-only__title {
    text-align: center;
    letter-spacing: 0.06em; }

  .not-only__subtitle {
    text-align: center; }

  .not-only__image {
    width: 260px;
    margin-left: 40px;
    margin-top: 106px; }

  .not-only__button {
    margin-left: 47px;
    margin-top: 42px; }

  .about__wrapper {
    padding-bottom: 42px; }

  .about__text {
    margin: 0;
    padding: 0; }

  .about__title {
    margin: 0;
    text-align: center;
    margin-top: 42px; }

  .about__subtitle {
    margin: 0 15px;
    margin-top: 24px;
    text-align: justify; }

  .about__image {
    width: 260px;
    margin-top: 40px; }

  .addition__subtitle {
    text-align: center; }

  .friends__wrapper {
    padding-top: 42px;
    padding-bottom: 42px; }

  .slider {
    margin-top: 22px;
    flex-wrap: wrap; }

  .slider__item {
    margin-top: 20px;
    padding: 0px; }

  .slider__item:nth-child(2) {
    order: -1; }

  .slider__item:nth-child(3) {
    display: none; }

  .button_large {
    margin-top: 42px; }

  .help__wrapper {
    padding-top: 41px; }

  .help__title {
    margin: 0 20px; }

  .help__text {
    font-size: 15px;
    margin-top: 17px; }

  .help__items {
    margin-top: 43px;
    justify-content: space-between;
    padding-bottom: 12px; }

  .help__element {
    width: 130px;
    height: 87px;
    margin: 0px 6px;
    margin-bottom: 30px; }

  .help__icon {
    width: 50px;
    height: 50px; }

  .addition__text {
    margin: 0px 10px;
    margin-top: 42px;
    padding-left: 0px; }

  .addition__title {
    margin-right: 0px;
    text-align: center; }

  .addition__subtitle {
    letter-spacing: 0;
    margin-top: 25px; }

  .addition__card {
    width: 281px;
    margin-top: 23px; }

  .additional__card-number {
    font-size: 15px; }

  .addition__description {
    margin-right: 0px;
    text-align: justify; }

  .addition__image {
    width: 260px;
    object-fit: contain;
    margin-top: 43px;
    margin-bottom: 42px; }

  .contacts-wrapper {
    flex-direction: column;
    padding: 0px 0px;
    text-align: center; }

  .footer__title {
    font-size: 35px; }

  .footer__contacts {
    margin-right: 0; }

  .footer__location {
    margin-right: 0;
    margin-top: 20px; }

  .footer__icon {
    margin-right: 19px; }

  .footer__contact {
    margin-left: 10px; }

  .footer__image {
    width: 260px;
    object-fit: unset;
    margin: 0 20px;
    margin-top: 85px; }

  .footer__address {
    text-align: left; }

  .menu-burger {
    display: block;
    width: 30px;
    height: 22px;
    margin-left: 10px; } }

/*# sourceMappingURL=main.css.map */
