$color-primary-color: #F1CDB3;
$color-primary-light: #FDDCC4;

$color-light-s: #FAFAFA;
$color-light-l: #F6F6F6;
$color-light-xl: #FFFFFF;

$color-dark-s: #CDCDCD;
$color-dark-m: #B2B2B2;
$color-dark-l: #545454;
$color-dark-xl: #4C4C4C;
$color-dark-2xl: #444444;
$color-dark-3xl: #292929;

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    justify-content: space-between;
}

.header {
    width: 100vw;
    position: absolute;
    top: 60px;
}

.logo {
    display: flex;
    flex-direction: column;
}

.logo__title {
    color: $color-primary-color;
    font-family: Georgia;
    font-size: 32px;
    letter-spacing: 0.06em;
    line-height: 110%;
    font-weight: 400;
}

.logo__subtitle {
    margin-top: 10px;
    color: $color-light-xl;
    font-size: 13px;
    letter-spacing: 0.1em;
    line-height: 110%;
    text-align: center;
    font-weight: 400;
}

.menu {
    display: flex;
    width: 443px;
}

.list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    list-style-type: none;
}

.list__item {
    display: flex;
    align-items: center;

}

.list__link {
    color: $color-light-xl;
    font-family: Arial;
    font-size: 15px;
    line-height: 160%;
    font-weight: 400;
    text-decoration: none;
}

.list__link_active {
    border-bottom: 3px solid $color-primary-color;
}

.list__link_disabled {
    color: $color-dark-s;
}

.main {
    display: flex;
    flex-direction: column;
}

.hero {
    display: flex;
    padding-top: 180px;
    background: url(/assets/images/noise_transparent.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.hero__content {
    display: flex;
}

.hero__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 84px;
}

.hero__title {
    color: $color-light-xl;
    font-size: 44px;
    line-height: 130%;
    font-family: Georgia;
    max-width: 310px;
    font-weight: 400;
    margin-bottom: 31px;
}

.hero__subtitle {
    margin-top: 14px;
    margin-bottom: 10px;
    margin-right: 40px;
    font-family: Arial;
    color: $color-dark-s;
    font-size: 15px;
    line-height: 160%;
    font-weight: 400;
}

.hero__button {
    margin-top: 28px;
    width: 207px;
    height: 52px;
    border-radius: 100px;
    border: none;
    background-color: $color-primary-color;
    font-family: Georgia;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
}

.hero__button:hover {
    background-color: $color-primary-light;
}

.about {
    display: flex;
}

.about__content {
    display: flex;
    padding: 0 174px;
    margin-top: 53px;
    margin-bottom: 100px;
}

.about__image {
    margin-top: 27px;
}

.about__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 121px;

}

.about__title {
    max-width: 370px;
    margin-top: 26px;
}

.title {
    font-family: Georgia;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: $color-dark-l;
}

.about__subtitle {
    font-family: Arial;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: $color-dark-xl;
    margin-top: 25px;
}

.friends {
    display: flex;;
    background: $color-light-l;
    text-align: center;
}

.friends__title {
    max-width: 400px;
}

.friends__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 77px;
}

.slider {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 59px;
}

.slider__content {
    display: flex;
    justify-content: space-between;
}

.slider__item {
    width: 270px;
    height: 435px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: $color-light-s;
    margin: 0 46px;
    padding: 30px;
}

.slider__item:hover {
    background: $color-light-xl;
}

.slider__name {
    font-family: Georgia;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: $color-dark-l;
    margin-top: 26px;
}

.slider__button {
    width: 187px;
    height: 52px;
    background-color: $color-light-s;
    border: 2px solid $color-primary-color;
    border-radius: 100px;
    font-family: Georgia;
    font-weight: normal;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: $color-dark-xl;
}

.slider__button:hover {
    background-color: $color-primary-light;
    border: none;
}

.arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    background-color: $color-light-l;
    border: 2px solid $color-primary-color;
    border-radius: 100px;
    color: $color-dark-3xl;
    font-size: 24px;
}

.arrow:hover {
    background-color: $color-primary-light;
    border: none;
}

.friends__button {
    width: 261px;
    height: 52px;
    border-radius: 100px;
    border: none;
    background-color: $color-primary-color;
    font-family: Georgia;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    margin-top: 60px;
    margin-bottom: 98px;
}

.friends__button:hover {
    background-color: $color-primary-light;
}