$color-primary-color: #F1CDB3;
$color-primary-light: #FDDCC4;

$color-light-s: #FAFAFA;
$color-light-l: #F6F6F6;
$color-light-xl: #FFFFFF;

$color-dark-s: #CDCDCD;
$color-dark-m: #B2B2B2;
$color-dark-l: #545454;
$color-dark-xl: #4C4C4C;
$color-dark-2xl: #444444;
$color-dark-3xl: #292929;



* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    margin: 0 auto;
    max-width: 75rem;
    justify-content: space-between;
}

.header {
    width: 100vw;
}

.logo {
    display: flex;
    flex-direction: column;
}

.logo__title {
    color: $color-primary-color;
    font-family: Georgia;
    font-size: 2rem;
    letter-spacing: 6%;
    line-height: 110%;
}

.logo__subtitle {
    color: $color-light-xl;
    font-size: 0.8125rem;
    letter-spacing: 10%;
    line-height: 110%;
}

.menu {
    display: flex;
    width: 443px;
}

.list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    list-style-type: none;
}

.list__item {
    display: flex;
    align-items: center;
}

.list__link {
    color: $color-light-xl;
    font-family: Arial;
    font-size: 0.9375rem;
    line-height: 160%;
}

.list__link_active {
    border-bottom: 3px solid $color-primary-color;
}

.list__link_disabled {
    color: $color-dark-s;
}

.hero {
    display: flex;
}

.hero__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero__title {
    color: $color-light-xl;
    font-size: 2.75rem;
    line-height: 130%;
    font-family: Georgia;
    max-width: 19.375rem;
}

.hero__subtitle {
    margin-top: 2.625rem;
    color: $color-dark-s;
    line-height: 160%;
}