* {
    margin: 0 auto;
}

body {
    background-color: #2c92e9;
}

.board {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px;
    max-height: 450px;
    background-color: #6741e7;
    border: 4px solid #472e9c;
    border-radius: 10px;
}

.control {
    width: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    color: aliceblue;
}

.control div {
    text-align: center;
}

.new-game-btn {
    border: 2px solid #4214db;
    background-color: #547df2;
    padding: 5px;
    font-size: 15px;
    color: aliceblue;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
}

.new-game-btn:hover {
    background-color: #54a7f2;
}

.playing-field {
    width: 420px;
    height: 420px;
    position: relative;
}

.chip {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    max-width: 100px;
    width: 100%;
    max-height: 100%;
    height: 100px;
    border: 2px solid #4214db;
    background-color: #547df2;
    border-radius: 10px;
    position: absolute;
    box-sizing: border-box;
    transition: all 0.2s;
    color: aliceblue;
    user-select: none;
    cursor: pointer;
}

.chip:hover {
    background-color: #54a7f2;
}

.window {
    position: relative;
    left: 30%;
    transform: translate(-50%, -150%);
    z-index: 20;
    width: 250px;
    height: 250px;
    background-color: #54a7f2;
    opacity: 0.9;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    
}

.closeBtn {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    font-size: 35px;
    cursor: pointer;
}

.bestScore {
    font-size: 20px;
    margin: 0 auto;
    width: 350px;
}
