* {
    font-family: 'Roboto', sans-serif;
}

body {
    min-width: 1600px;
    margin: 0;
    width: 100%;
    padding: 0;
    font-size: 14px;
}

a {
    text-decoration: none;
}

h1 {
    position: absolute;
    display: block;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
    margin: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
}

header {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.navbar {
    display: flex;
    justify-content: center;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.menu li {
    margin-right: 85px;
    margin-right: 85px;
}

.menu a {
    color: #ffffff;
}

.menu a:hover {
    opacity: 1;
    text-decoration: underline; }

.logo {
    text-decoration: none;
    position: relative;
    width: 44px;
    height: 45px;
}

.life {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 800px;
    align-items: center;
    background: url(assets/your_life_bg.png) center center/cover no-repeat;
}

.life_title {
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: white;
    letter-spacing: 4.5px;
}

.life_subtitle {
    width: 504px;
    height: 50px;
    font-style: bold;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.btn {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 184px;
    height: 46px;
    left: 707px;
    top: 406px;
    background: #00AFDB;
    border: none;
    margin-bottom: 183px;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    border-style: none;
    padding: 15px 45px; }

.btn:hover {
    background: #009CC2;
}

.social {
    display: flex;
    width: 170px;
    height: 20px;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.rapp_content {
    padding: 120px 269px 140px 269px;
    margin: 0 109px 0 109px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rapp_text {
    width: 405px;
}

.rapp_title {
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    color: #373737;
    max-width: 368px;
    margin: 0;
    letter-spacing: 1px;
}

.rapp_descr {
    font-size: 14px;
    color: #4E4E4E;
    line-height: 1.4;
    margin-bottom: 34px;
    margin-top: 22px;
}

.community {
	background: #F5F6F7;
	display: flex;
	padding-bottom: 73px;

}

.community_text {
	margin-top: 156px;
	width: 298px;
	height: 175px;
	align-items: center;
	text-align: center;
	margin-bottom: 100px;
	margin-left: 269px;
}

.community_text img {
	padding-bottom: 20px;
	display: block;
	margin: 0 auto;
}

.community_title {
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	align-items: center;
	text-align: center;
	letter-spacing: 2.4px;
	text-transform: uppercase;
	color: #373737;
	margin-bottom: 11px;
	margin-left: 2px;
}

.community p {
	font-size: 14px;
	line-height: 140%;
	align-items: center;
	text-align: center;
	color: #4E4E4E;
	width: 298px;
	height: 80px;
	margin-bottom: 10px;
}

.community_slider {
	margin-left: 139px;
	margin-top: 82px;
	width: 894px;
}

.elements {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    margin-bottom: 18px;
    color: #373737;
    padding-left: 550px;
}

.community_img_slider {
	display: flex;
	overflow: hidden;
}

.community_img_slider img {
	padding-right: 30px;
}

.community_img_slider img:last-child {
	padding-right: 0;
}

.arrow_left {
    margin-right: 14px;
    opacity: 1;
}

.arrow_left img {
	cursor: pointer;
}

.arrow_left img:hover {
	opacity: 0.5;
}

.arrow_right {
    margin-left: 14px;
	opacity: 1;
}

.arrow_right img {
	cursor: pointer;
}

.arrow_right img:hover {
	opacity: 0.5;
}

.implement_content {
    padding: 120px 269px 140px 269px;
    margin: 0 109px 0 109px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.implement_text {
    width: 407px;
    height: 184px;
    margin-left: 139px;
}

.implement_title {
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    color: #373737;
    margin: 0;
    letter-spacing: 1px;
}

.implement_descr {
    font-size: 14px;
    color: #4E4E4E;
    line-height: 1.4;
    margin-bottom: 34px;
    margin-top: 22px;
}

.sign {
    background: url(/assets/sign_up_bg.png) center center/cover no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 525px;
}

    .sing_title {
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: -20px;
    margin-bottom: 30px;
}

    .sing_email {
    width: 315px;
    height: 42px;
    padding-left: 24px;
    outline: none;
}

    .sing_email::placeholder {
    font-size: 14px;
    color: #373737;
    opacity: 0.5;
}

    .sing_btn {
    background: #00AFDB;
    outline: none;
    border-style: none;
    cursor: pointer;
    padding: 15px 25px;
    margin-left: -5px;
}

    .sing_btn:active {
    border-style: none;
}

    .sing_btn:hover {
    background: #009CC2;
}

.sing_email:valid:not(:placeholder-shown) {
    border-color: green;
}

.sing_email:invalid:not(:placeholder-shown) {
    border-color: red;
}